.contents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
    /* grid-auto-rows: auto; */
    grid-gap: 1rem;
    padding: 1rem;
}

.image {
    display: flex;
    justify-content: center;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.details_action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
}

/* Button */
.details_action button {
    margin-left: 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    background-color: green;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0.75;

}
.details_action button:hover {
    opacity: 1;
}
.details_action button:hover .icon {
    transition: all 0.5s;
    transform: translateX(5px);
}
/* Button */

.price{
    font-size: 42px;
    font-weight: 600;
    margin-right: 1rem;
}
.lirasicon{
    margin-left: 2px;
    width: 20px;
}