/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
}

a{
  text-decoration: none;
  color: #333;
}
.active{
  color: #f27a1a;
}

.homepage {
  position: relative;
  min-height: 100vh;
  
}
