/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}

.active {
  color: #f27a1a;
}

.homepage {
  position: relative;
  min-height: 100vh;

}

.cartpage {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  flex-wrap: wrap;
  padding: 0 2rem;
  margin-top: 1rem;
}

.cart_table {
  flex-grow: 5;
  margin-right: 1rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 0 1rem;

}

.cart_table_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_item_wrapper {
  display: flex;
  flex-direction: column;
}

.cart_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .5rem 0;
}

.cart_item_details {
  flex-grow: 3;
  display: flex;
  align-items: center;
}

.cart_item_details img {
  width: 60px;
}

.cart_item_price {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.cart_item_desc {
  width: 100%;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_item_actions {
  display: flex;

}

.delete_btn {
  border: none;
  outline: none;
  background: transparent;
  color: red;
  cursor: pointer;
  transition: all 0.5s;
}

.itemquantity_btns {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.minusbtn,
.plusbtn {
  border: none;
  outline: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.total_price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.total_price span {
  font-size: 1.6rem;
  font-weight: 600;
}

.bill {
  height: 240px;
  flex-grow: 1;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;

}

.bill_info {
  padding-bottom: 1rem;
  border-bottom: 1px solid;
}

.bill_info div {
  display: flex;
  justify-content: space-between;
}

.bill_total {
  margin-top: 1rem;
  text-align: end;
}

.confirm_btn {
  width: 100%;
  height: auto;
  padding: 1rem;
  border-radius: 10px;
  background-color: #f27a1a;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.3s;
  opacity: 0.75;
}

.confirm_btn:hover {
  opacity: 1.5;
}

@media screen and (max-width:768px) {
  .cartpage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .cart_table {
    flex-grow: 1;
    margin: 0 0 1rem;
  }

  .bill {
    flex-grow: 1;
  }
}


/* Dashboard */
.dashboard_content {
  display: flex;
  padding: 1rem 1rem;
  gap: 0.5rem;

}

.left_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 20%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  border-radius: 1rem;
  overflow: hidden;
  padding: 1rem;
  gap: 1rem;

}

.right_bar {
  display: flex;
  flex-basis: 80%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  border-radius: 1rem;
  overflow: hidden;
  padding: 1rem;
}

.user_info {
  box-shadow: 0 1px 4px 0 #f27a1a;
  height: fit-content;
  padding: 1rem;
  border-radius: 1rem;
}

.user_info h2 {
  border-bottom: 0.5px solid #f27a1a;
}

.order_info {
  box-shadow: 0 1px 4px 0 #f27a1a;
  height: fit-content;
  padding: 0 1rem;
  border-radius: 1rem;
}

.order_info h2 {
  border-bottom: 0.5px solid #f27a1a;
}

.settings {
  box-shadow: 0 1px 4px 0 #f27a1a;
  height: fit-content;
  padding: 0 1rem;
  border-radius: 1rem;
}

.settings h2 {
  border-bottom: 0.5px solid #f27a1a;
}

.contents {
  box-shadow: 0 1px 4px 0 #f27a1a;
  min-height: inherit;
  padding: 0 1rem;
  border-radius: 1rem;
}

.contents h2 {
  border-bottom: 0.5px solid #f27a1a;
}

/* Dashboard */