/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}

.active {
  color: #f27a1a;
}

.homepage {
  position: relative;
  min-height: 100vh;

}

.cartpage {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  flex-wrap: wrap;
  padding: 0 2rem;
  margin-top: 1rem;
}

.cart_table {
  flex-grow: 3;
  margin-right: 1rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.bill {
  height: 240px;
  flex-grow: 1;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.bill_info {
  padding-bottom: 1rem;
  border-bottom: 1px solid;
}

.bill_info div {
  display: flex;
  justify-content: space-between;
}

.bill_total {
  margin-top: 1rem;
  text-align: end;
}

.confirm_btn {
  width: 100%;
  height: auto;
  padding: 1rem;
  border-radius: 10px;
  background-color: #f27a1a;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.3s;
  opacity: 0.75;
}

.confirm_btn:hover {
  opacity: 1.5;
}