.card_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(248px,1fr));
    /* grid-auto-rows: auto; */
    grid-gap: 1rem;
    padding: 1rem;
}

.card {
    height: auto;
    background: #fff;
    color: black;
    overflow: hidden;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.card_image {
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;

}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card_image Image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 140px;
    margin-left: 0;
    padding: 0;
}

.rating {
    display: flex;
    align-items: center;
    margin: .5rem 0;
}

.rating_icon,
.rate {
    color: #f5c518;
    font-size: 1.6rem;
    margin-top: .25rem;
    margin-left: .25rem;
}


.film_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.film_name {
    text-align: start;
    margin-top: 0;
    margin-left: .25rem;
    font-size: 1.2rem;
}

.film_details {
    padding: 0;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-left: auto;
    border: none;
    background: none;
    cursor: pointer;
}

.film_details {
    --primary-color: #111;
    --hovered-color: #c84747;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 16px;
    gap: 0.5rem;
    align-items: center;
}

.detail_btn {
    margin: 0;
    position: relative;
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
}

.detail_btn_light {
    margin: 0;
    position: relative;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.film_details::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
}

.detail_btn::before {
    position: absolute;
    /*   box-sizing: border-box; */
    content: "Details";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
}

.film_details:hover::after {
    width: 100%;
}

.film_details:hover .detail_btn::before {
    width: 100%;
}

.film_details:hover svg {
    transform: translateX(4px);
    color: var(--hovered-color)
}

.film_details svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
}